.profilepage{
    padding-top: 99px;
    padding-bottom: 99px;
    width: 100%;
    background-color: rgb(11,14,23);
}
.profilepage img{
    width: 100px;
    border-radius: 50%;
    margin-bottom: 30px;
}
.profilep{
    width: 55%;
    margin: auto;
    font-size: 19px;
    letter-spacing: 2px;
    font-weight: lighter;
}
.namecustomprof{
    width: 55%;
    margin: auto;
    font-size: 22px;
    letter-spacing: 2px;
    font-weight: lighter;
    margin-bottom: 19px;
}
.contactimgs a img{
    margin: 19px 7px;
    width: 37.5px;
}